- var title = ' - Contact'
include ../includes/_header

  body.pa3.avenir.fw4.f4.tim-text
    main#cv.center
      article.tim-solid-line.mb4.cf
        section.fl.w-100.w-50-ns
          a(href="/" id="tim-douglas").no-underline
            h1.mv2.fw6.tim-header Tim Douglas
        section.fl.w-100.w-50-ns.tl.tr-ns
          h2.mv3.fw4 Services

      article.mt4
        section.w-100
          p.mv2.f3.fw6.tim-emphasis Item
          p Details
