//- Ideas/To do
//- -----------
//- Icons for each qualification? diploma, cert 4 etc
//- 5 star rating system for skills

include ../../includes/_head.jade

body
  #holder
    #content.container
      include ../../includes/_header.jade

      #essence.row
        p Technology, design, and the web is my natural environment. I'm part of the first generation that has grown up with the Internet. This has made me completely comfortable with developments in the way we work in the modern workplace. I like to stay current with as many technologies as possible and approach tasks using a project-based mentality with a planned, practical result. I thrive on the feeling of building something useful, beautiful, and functional. I work hard and I want to learn from the people I work with.

      #experience
        h4 Experience
        .row
          #years.four.columns
            p 9.5 years experience
          #complete.four.columns
            p x projects completed
          #in-progress.four.columns
            p y in progress

        h5 Employment
        .row
          #duration.four.columns
            p September 2008 to present

          #role.eight.columns
            h6 e-Learning Manager
            p Rosebank College, Five Dock

        .row    
          #duration.four.columns
            p January 2007 to July 2008
          
          #role.eight.columns
            h6 e-Learning Developer &amp; Vocational Trainer
            p Stella Maris College, Manly

        .row
          #duration.four.columns
            p April 2004 to January 2007

          #role.eight.columns
            h6 Content Developer &amp; Course Creator
            p Stella Maris College, Manly

      #expertise
        h4 Expertise
        .row
          #front-end.six.columns
            h5 Front End
            p Adobe Photoshop - 4
            p HTML - 4
            p CSS - 3

          #back-end.six.columns
            h5 Back End
            p JavaScript - 3
            p API Design - 2
            p SQL - 4
            p Sublime Text - 3

      #education.row
        h4 Education

        .row
          #qualification.three.columns
            p Diploma of e-Learning
          #qualification.three.columns
            p Diploma of Multimedia
          #qualification.three.columns
            p Certificate IV in Multimedia
          #qualification.three.columns
            p Higher School Certificate

      #conclusion.row
        #references.nine.columns
          h4 References
          p References are available upon request. Please get in touch with me using one of the contact methods below.

        #download.three.columns
          p
            strong Download my Resume:
          button PDF
          button Word

      include ../../includes/_contact.jade      
    
    include ../../includes/_footer.jade