include ../../../includes/_head.jade

body
  #holder
    #content.container
      include ../../../includes/_header.jade
      .row
        section#welcome.eight.columns
          h3 Placeholder post
          h4 Simple placeholder
          p
            em Purely exists to hold a place.

          //- Body goes here

    include ../../../includes/_footer.jade