footer.tc.pt4.pt5-ns.f4.f3-ns.td-text-lite Made with #[a(href='https://atom.io/' title='Atom is pretty fantastic.').no-underline Atom], #[a(href='http://www.aeropress.com.au/' title='AeroPress').no-underline coffee], and a #[a(href='http://www.kungfugrippe.com/post/169873399/clackity-noise' title='Making the Clackity Noise').no-underline clicky keyboard].
