<svg width="28px" height="22px" viewBox="22 0 28 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <polygon id="base" stroke="none" fill-rule="evenodd" points="36 22 22 8 27 1 36 1 45 1 50 8"></polygon>
    <polygon id="lite" stroke="none" fill-opacity="0.25" fill-rule="evenodd" points="29 8 22 8 27 1"></polygon>
    <polygon id="lite" stroke="none" fill-opacity="0.25" fill-rule="evenodd" transform="translate(46.500000, 4.500000) scale(-1, 1) translate(-46.500000, -4.500000) " points="50 8 43 8 48 1"></polygon>
    <polygon id="liter" stroke="none" fill-opacity="0.46" fill-rule="evenodd" points="29 8 36 1 27 1"></polygon>
    <polygon id="liter" stroke="none" fill-opacity="0.46" fill-rule="evenodd" transform="translate(40.500000, 4.500000) scale(-1, 1) translate(-40.500000, -4.500000) " points="38 8 45 1 36 1"></polygon>
    <polygon id="litest" stroke="none" fill-opacity="0.60" fill-rule="evenodd" transform="translate(36.000000, 4.500000) scale(-1, 1) translate(-36.000000, -4.500000) " points="29 8 36 1 43 8"></polygon>
    <polygon id="under" stroke="none" fill-opacity="0.25" fill-rule="evenodd" transform="translate(36.000000, 15.000000) scale(-1, 1) translate(-36.000000, -15.000000) " points="29 8 36 22 43 8"></polygon>
</svg>
