doctype
html(lang='en-AU')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(property="og:url" content="http://timdouglas.co")
    meta(property="og:title" content="Tim Douglas")
    meta(property="og:description" content="A full stack developer based in Orange, Australia.")
    meta(property="og:image" content="/images/unfurl.png")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Tim Douglas #{title}
    link(rel="icon" href="/favicon.png")
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/tachyons.min.css')
    include _ga
