- var title = ' - Work'
include ../includes/_header

  body.pa3.avenir.fw4.f4.tim-text
    main#work.center
      article.tim-solid-line.mb4.cf
        section.fl.w-100.w-50-ns
          a(href="/" id="tim-douglas").no-underline
            h1.mv2.fw6.tim-header Tim Douglas
        section.fl.w-100.w-50-ns.tl.tr-ns
          h2.mv3.fw4 Work &amp; Projects

      article
        section.w-100.pa3.pa4-ns.mb4.br3#project
          h3.pa0.ma0.mb3.f2.fw6 Spanner
          a(href="https://github.com/neurotech/spanner").f5.f3-ns.fw3.i github.com/neurotech/spanner
          p.f4.f3-ns.fw4.lh-copy A cross-platform #[a(href="https://electron.atom.io/") Electron] application that uses #[a(href="https://vuejs.org/") Vue.js] as well as #[a(href="http://sass-lang.com/") Sass] and #[a(href="https://pugjs.org/") Pug] to consume and render data from a HTTP-based API to assist in the management of Edumate.

        section.w-100.pa3.pa4-ns.mb4.br3#project
          h3.pa0.ma0.mb3.f2.fw6 dispatch
          p.ma0.f4.f3-ns.fw4.lh-copy A Node.js application that synchronises tasks and marks between Edumate and Canvas.

        section.w-100.pa3.pa4-ns.mb4.br3#project
          h3.pa0.ma0.mb3.f2.fw6 canvas-api
          p.ma0.f4.f3-ns.fw4.lh-copy A collection of helper methods for the Canvas LMS API.

        section.w-100.pa3.pa4-ns.mb4.br3#project
          h3.pa0.ma0.mb3.f2.fw6 Picnic
          p.ma0.f4.f3-ns.fw4.lh-copy A dashboard application that displays timely and useful information about staff absences, school events, and room changes.


        section.w-100.pa3.pa4-ns.mb4.br3#project
          h3.pa0.ma0.mb3.f2.fw6 edumate-api
          p.ma0.f4.f3-ns.fw4.lh-copy A collection of endpoints that serve various datasets from Edumate.
