- var title = ' - Work'
include ../includes/_header

  body.pa3.avenir.fw4.f4.tim-text
    main#work.center
      article.tim-solid-line.mb4.cf
        section.fl.w-100.w-50-ns
          a(href="/" id="tim-douglas").no-underline
            h1.mv2.fw6.tim-header Tim Douglas
        section.fl.w-100.w-50-ns.tl.tr-ns
          h2.mv3.fw4 Work &amp; Projects

      article#content
        section.w-100.mb4.pb4.tim-dashed-line#project
          #project-title.cf
            #project-name.fl.w-100.w-50-ns
              h3.pa0.ma0.mb1.mb3-ns.f2.fw6.tim-emphasis dispatch
            //- #project-link.fl.w-100.w-50-ns.pt2.pb1.tl.tr-ns
              a(href="URL").f5.f4-ns.code URL
          p.mv2.f4.f3-ns.fw4.lh-copy A #[a(href="https://nodejs.org") Node.js] middleware application that reconciles and synchronises task and marks data between #[a(href="http://www.edumate.com.au/") Edumate] and #[a(href="https://www.canvaslms.com/") Canvas]. It supports daily snapshotting of said data, as well as email notifications to key staff when issues are found with tasks or marks.

        section.w-100.mb4.pb4.tim-dashed-line#project
          #project-title.cf
            #project-name.fl.w-100.w-50-ns
              h3.pa0.ma0.mb1.mb3-ns.f2.fw6.tim-emphasis node-edumate
            #project-link.fl.w-100.w-50-ns.pt2.pb1.tl.tr-ns
              a(href="https://www.npmjs.com/package/node-edumate").f5.f4-ns.code npmjs.com/package/node-edumate
          p.mv2.f4.f3-ns.fw4.lh-copy A #[a(href="https://nodejs.org") Node.js] module built to help with connecting to and querying the database of an #[a(href="http://www.edumate.com.au/") Edumate] instance.

        section.w-100.mb4.pb4.tim-dashed-line#project
          #project-title.cf
            #project-name.fl.w-100.w-50-ns
              h3.pa0.ma0.mb1.mb3-ns.f2.fw6.tim-emphasis canvas-api
            #project-link.fl.w-100.w-50-ns.pt2.pb1.tl.tr-ns
              a(href="https://www.npmjs.com/package/canvas-api").f5.f4-ns.code npmjs.com/package/canvas-api
          p.mv2.f4.f3-ns.fw4.lh-copy A #[a(href="https://nodejs.org") Node.js] module that provides several helper methods for working with #[a(href="https://www.canvaslms.com/") Canvas] and it's #[a(href="https://canvas.instructure.com/doc/api/index.html") API].

        section.w-100.mb4.pb4.tim-dashed-line#project
          #project-title.cf
            #project-name.fl.w-100.w-50-ns
              h3.pa0.ma0.mb1.mb3-ns.f2.fw6.tim-emphasis edumate-api
            #project-link.fl.w-100.w-50-ns.pt2.pb1.tl.tr-ns
              a(href="https://github.com/neurotech/edumate-api").f5.f4-ns.code github.com/neurotech/edumate-api
          p.mv2.f4.f3-ns.fw4.lh-copy A #[a(href="https://nodejs.org") Node.js] application that makes use of #[a(href="https://www.npmjs.com/package/node-edumate") node-edumate] to serve key datasets over HTTP endpoints.
