include ../includes/_header

  body.pa3.avenir.fw4.f4.tim-text
    main#work.center
      article#work-header.tim-solid-line.mb4.center.cf
        section.fl.w-100.w-50-ns
          a(href="/" id="tim-douglas").no-underline
            h1.mv2.fw6.tim-header Tim Douglas
        section.fl.w-100.w-50-ns.tl.tr-ns
          h2.mv3.fw4 Work &amp; Projects

      article#projects
        section.fl.w-50.pa3.tl
          img(src="http://placehold.it/300x100").w-100
          p.tc.mt2 dispatch

        section.fl.w-50.pa3.tr
          img(src="http://placehold.it/300x100").w-100
          p.tc.mt2 Spanner

        section.fl.w-50.pa3
          img(src="http://placehold.it/300x100").w-100
          p.tc.mt2 canvas-api

        section.fl.w-50.pa3
          img(src="http://placehold.it/300x100").w-100
          p.tc.mt2 Picnic

        section.fl.w-50.pa3
          img(src="http://placehold.it/300x100").w-100
          p.tc.mt2 edumate-api

      //- article.mb3
      //-   h3.mt2.mb1.pb1.fw6.tim-header.tim-dashed-line Project Name
      //-   h4 Subtitle
      //-   p Description
      //-   img(src="http://placehold.it/800x400").w-100
      //- hr
