.row#contact-me
  section#github-link.three.columns
    a.svg(href="https://github.com/neurotech")
      object.contact-icon.github-icon(data="/svg/github.svg" type="image/svg+xml")

  section#twitter-link.three.columns
    a.svg(href="https://twitter.com/neurotech")
      object.contact-icon.twitter-icon(data="/svg/twitter.svg" type="image/svg+xml")

  section#dribbble-link.three.columns
    a.svg(href="https://dribbble.com/neurotech")
      object.contact-icon.dribbble-icon(data="/svg/dribbble.svg" type="image/svg+xml")

  section#email-link.three.columns
    a.svg(href="mailto:hello@timdouglas.co")
      object.contact-icon.email-icon(data="/svg/email.svg" type="image/svg+xml")