.row#contact-me
  section.three.columns
    p 
      strong GitHub
  section.three.columns
    p
      strong Twitter
  section.three.columns
    p
      strong Dribbble
  section.three.columns
    p
      strong Email