footer#made-with
  p
    | Made with 
    a(href="http://www.sublimetext.com/" title="Sublime Text is pretty fantastic.") Sublime Text
    | , 
    a(href="http://www.aeropress.com.au" title="Aeropress") coffee
    | , and a 
    a(href="http://www.kungfugrippe.com/post/169873399/clackity-noise" title="Making the Clackity Noise") clicky keyboard
    | .