- var title = ' - Work - dispatch'
include ../../includes/_header

  body.pa3.avenir.fw4.f4.tim-text
    main#work.center
      article.tim-solid-line.mb4.cf
        section.fl.w-100.w-50-ns
          a(href="/" id="tim-douglas").no-underline
            h1.mv2.fw6.tim-header Tim Douglas
        section.fl.w-100.w-50-ns.tl.tr-ns
          h2.mv3.fw4 Work &amp; Projects

      article
        section.w-100.tim-solid-line
          h3.fw5.tc.f2.w-50-ns.center.pb2.mb2 dispatch
          p.f4.f3-ns Description, etc.

      include ../../includes/_back-to-work
