- var title = ' - Hello';
include includes/_header

  body.pa3.avenir.fw4.tim-text
    main#front.center
      article#content
        section.fw4
          h1.f3.f1-ns.tim-header#hello Hello!
          #welcome
            p.f4.f2-ns(style='animation-delay: 300ms;') I'm Tim, a front end developer based in Orange. I work with schools to build data-driven solutions that improve learning and staff effectiveness.
            p.f4.f2-ns(style='animation-delay: 450ms;') Take a look at #[a(href='/services').no-underline what I can do for you], my #[a(href='/cv').no-underline CV] or #[a(href='/work').no-underline some of my past work].
            p.f4.f2-ns(style='animation-delay: 600ms;') If you'd like to work with me, please #[a(href='/contact').no-underline get in touch].
