- var title = ' - Hello'
include includes/_header

  body.pa3.avenir.fw4.tim-text
    main#front.center
      article
        section.fw4
          h1.f3.f1-ns.tim-header#hello Hello!
          #welcome
            p.f4.f2-ns(style='animation-delay: 300ms;') I'm Tim, a front end developer working in Sydney, Australia.
            p.f4.f2-ns(style='animation-delay: 600ms;') I build practical systems and beautiful interfaces.
            p.f4.f2-ns(style='animation-delay: 900ms;') Take a look at #[a(href='/work').no-underline some of my work], my #[a(href='/cv').no-underline CV], or get in touch with me:

      article.fw4.f3.f2-ns.cf
        #welcome
          section.fl.w-100.pv2.tl
            a(href='mailto:hello@timdouglas.co' style='animation-delay: 1200ms;').no-underline hello@timdouglas.co

      #welcome.i.tc.tr-ns.pt3.pt5-ns.fw4.f5.f3-ns.td-text-lite
        footer(style='animation-delay: 1800ms;').pt3 Made with #[a(href='https://atom.io/' title='Atom is pretty fantastic.').no-underline Atom], #[a(href='http://www.aeropress.com.au/' title='AeroPress').no-underline coffee], and a #[a(href='http://www.kungfugrippe.com/post/169873399/clackity-noise' title='Making the Clackity Noise').no-underline clicky keyboard].
