@import 'src/stylus/palette.styl'

// Variables
footer-height = 50px

html, body
  height 100%

#portrait
  height 300px
  background #dddddd

// Contact
#contact-me
  text-align center
  margin-bottom 2.5rem

a
  &.svg
    position relative
    display inline-block

a
  &.svg
    &:after
      content ""
      position absolute
      top 0
      right 0
      bottom 0
      left 0

.contact-icon
  position relative
  display inline-block
  width 40px
  height 40px

.github-icon
  fill red

// Footer
#holder
  min-height 100%
  position relative

#content
  padding-bottom footer-height

#made-with
  position absolute
  height footer-height
  bottom 0
  left 0
  right 0
  text-align center