// Base Palette
canvas = #FFFDEE
ruby = #E73E4F
chocolate = #675B5F
darkchocolate = darken(chocolate, 23%)
eraser = lighten(chocolate, 30%)
blueberry = #9cdfb2

// Supporting Palette
creme = #FFFFFF
obsidian = #17171a
gunmetal = #666666

// External Services Palette
dribbble = #f56ea2
twitter = #3baaed
mail = ruby
octocat = #5535cd

// New palette from http://coolors.co/242038-8169af-048a81-06d6a0-d7dedc
/*
color1 = #242038
color2 = #8169af
color3 = #048a81
color4 = #06d6a0
color5 = #d7dedc
*/