include ../includes/_head.jade

body
  #holder
    #content.container
      include ../includes/_header.jade
      .row
        section#welcome.eight.columns
          h3 Hello!
          p My name's Tim and I &hearts; building things that are satisfying to use and beautiful to look at.
          p Check out 
            a(href='#') some things I've made
            | or
            a(href='#') learn more about me.

        section#portrait.four.columns

    include ../includes/_footer.jade
