#cv { max-width: 48rem; }

.rating-bg {
  background-color: $rating-bg;
  margin-top: $rating-margin;
}

.rating-four {
  background-color: $rating-four;
  padding-top: $rating-padding;
  padding-bottom: $rating-padding;
}

.rating-three {
  background-color: $rating-three;
  padding-top: $rating-padding;
  padding-bottom: $rating-padding;
}

.rating-two {
  background-color: $rating-two;
  padding-top: $rating-padding;
  padding-bottom: $rating-padding;
}
