#services { max-width: 50rem; }

.tim-available {
  border-radius: .2rem;
  color: white;
  background-color: $tim-green;
  animation-duration: 2s;
  animation-name: slowpulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.tim-not-available {
  border-radius: .2rem;
  color: white;
  background-color: $tim-red;
  animation-duration: 2s;
  animation-name: slowpulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#gem {
  & polygon#lite { fill: white; }
  & polygon#liter { fill: white; }
  & polygon#litest { fill: white; }
  & polygon#under { fill: white; }
}

.gem-red svg { & polygon#base { fill: $gem-red; } }
.gem-blue svg { & polygon#base { fill: $gem-blue; } }
.gem-yellow svg { & polygon#base { fill: $gem-yellow; } }
.gem-green svg { & polygon#base { fill: $gem-green; } }
