// Palette
$tim-header: #5077F3;
$tim-text: #444D7C;
$tim-solid-line: #D9E0F0;
$tim-dashed-line: #93A8D3;
$tim-emphasis: #001350;
$tim-subtitle: #848BAD;
$tim-link: #5077F3;
$tim-link-hover: #FF5B8B;
$tim-grey: #AAAAAA;
$tim-red: #E74C3C;
$tim-yellow: #FFD632;
$tim-green: #45B87D;
$rating-four: #78AE3D;
$rating-three: #FFD632;
$rating-two: #E74C3C;
$rating-bg: #E4E8F2;
$gem-red: #FF5656;
$gem-blue: #20A0FF;
$gem-yellow: #FFC337;
$gem-green: #12CE66;

// Measurements
$rating-padding: .55rem;
$rating-margin: .70rem;
