- var title = ' - Contact'
include ../includes/_header

  body.pa3.avenir.fw4.f4.tim-text
    main#cv.center
      article.tim-solid-line.mb4.cf
        section.fl.w-100.w-50-ns
          a(href="/" id="tim-douglas").no-underline
            h1.mv2.fw6.tim-header Tim Douglas
        section.fl.w-100.w-50-ns.tl.tr-ns
          h2.mv3.fw4 Say hello.

      article.mt4
        section.w-100
          a(href="mailto:hello@timdouglas.co" target="_blank")
            #contact-button.w-100.mt5.mb4.cf.center.f5.f2-ns
              #contact-method.fl.w-30.pv3.tc.fw5 Email
              #contact-address.fl.w-70.pv3.tc.fw4 hello@timdouglas.co

        section.w-100
          a(href="https://github.com/neurotech" target="_blank")
            #contact-button.w-100.mv4.cf.center.f5.f2-ns
              #contact-method.fl.w-30.pv3.tc.fw5 GitHub
              #contact-address.fl.w-70.pv3.tc.fw4 github.com/neurotech

        section.w-100
          a(href="https://twitter.com/neurotech" target="_blank")
            #contact-button.w-100.mv4.cf.center.f5.f2-ns
              #contact-method.fl.w-30.pv3.tc.fw5 Twitter
              #contact-address.fl.w-70.pv3.tc.fw4 twitter.com/neurotech
